body {
    background-color: white;
    color: #222222;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.6;
}

article + article {

    margin-top: 3rem;
}

.container {
    width: 200px;
    height: 200px;
    background-color: rgb(205, 255, 193);
    border: 5px solid rgb(253, 212, 212);
    margin-top: 50px;
    box-shadow: 5px 10px #888888;
}
